@model IEnumerable<AgentieTorism.Models.Vacante>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tara)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destinatia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duratasejur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.transport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pachet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.plecare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.locuridisponible)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tara)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destinatia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duratasejur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.transport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pachet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plecare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.locuridisponible)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VacanteiD }) |
            @Html.ActionLink("Details", "Details", new { id=item.VacanteiD }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VacanteiD })
        </td>
    </tr>
}

</table>
